@for (habit of habits; track habit) {
<mat-card class="app-card">
  <div class="progress-background">
    <div
      class="progress-bar"
      [style.width.%]="getProgress(habit)"
      [style.backgroundColor]="habit.color"
    ></div>
  </div>
  <div class="content-container" (click)="editHabit.emit(habit.habitId)">
    <mat-card-content class="app-card-content">
      <div class="grid grid-cols-3 items-center">
        <div class="habit-icon-container col-span-1">
          <span class="habit-icon">{{ habit.icon }}</span>
        </div>
        <div class="col-span-1 justify-start">
          <div>
            <span class="habit-tittle"
              ><b>{{ habit.habitName }}</b></span
            >
          </div>
          <div>
            {{ habit.record ? habit.record : 0 }}/{{ habit.habitGoal }}
            {{ habit.habitGoalUnit }}
          </div>
        </div>
        <div class="col-span-1 flex flex-col justify-end items-end">
          <span
            class="frequency-label bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded light:bg-blue-900 light:text-blue-300"
          >
            {{ habit.frequencyName }}
          </span>
          <div class="flex justify-center">
            <button
              mat-icon-button
              (click)="addHabitRecord.emit(habit)"
              (click)="$event.stopPropagation()"
            >
              <mat-icon>add</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="completeHabitRecord.emit(habit)"
              (click)="$event.stopPropagation()"
            >
              <mat-icon>check</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>
}
