@use "../../../../styles/colors" as colors;

.app-card {
  margin-bottom: 12px;
  cursor: pointer;
}

.app-card-content {
  padding: 0 !important;
}

.habit-tittle {
  font-size: 16px;
}
.habit-icon-container {
  width: 60px;
  height: 60px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.habit-icon {
  font-size: 36px;
}
