<main>
  <div class="avatar-container">
    <div
      class="image-container"
      *ngIf="file; else placeholder"
      [ngStyle]="{ backgroundImage: 'url(' + file + ')' }"
    ></div>

    <ng-template #placeholder>
      <div class="image-container avatar-placeholder"></div>
    </ng-template>

    <label for="avatar-input-file">
      <div class="icon-wrapper">
        <input
          type="file"
          id="avatar-input-file"
          accept="image/*"
          (change)="onFileChange($event)"
        />
        <mat-icon class="icon" fontIcon="edit"></mat-icon>
      </div>
    </label>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Configuración de usuario</h2>

    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput type="text" formControlName="userName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hidePassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repetir contraseña</mat-label>
      <input
        matInput
        formControlName="repeatPassword"
        [type]="hidePassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="form.hasError('passwordsMismatch')" class="error">
      Las contraseñas deben coincidir
    </div>

    <div *ngIf="showError()" class="error">Incorrect userName or password</div>

    <button
      mat-flat-button
      class="app-round-button"
      type="submit"
      color="primary"
      [disabled]="form.invalid"
    >
      Registrarse
    </button>
  </form>

  <div *ngIf="loading()" class="loading">
    <mat-spinner></mat-spinner>
  </div>
  <p class="sing-up">
    ¿Ya tienes una cuenta?
    <a [routerLink]="['/login']" target="_self">Login</a>
  </p>
</main>
