<main>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <picture>
      <img src="../../../../assets/images/logo_login.png" alt="Livety" />
    </picture>

    <h2>Log in</h2>

    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput type="text" formControlName="userName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hidePassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    @if (showError()) {
    <div class="error">Nombre de usuario o contraseña incorrectos</div>
    }

    <button
      mat-flat-button
      class="app-round-button"
      type="submit"
      color="primary"
      [disabled]="form.invalid"
    >
      Log in
    </button>
  </form>

  @if (loading()) {
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
  }
  <p class="sing-up">
    ¿Aun no tienes cuenta?
    <a [routerLink]="['/register']" target="_self">Registrate</a>
  </p>
</main>
