<mat-card class="app-card">
  <mat-tab-group>
    <mat-tab label="Semanal">
      <form [formGroup]="weekForm">
        <mat-form-field>
          <mat-label>Número de Semana</mat-label>
          <mat-select formControlName="weekNumber">
            <mat-option *ngFor="let week of weeksArray" [value]="week">
              {{ week }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div class="chart">
        <ngx-charts-heat-map
          [scheme]="colorScheme"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [results]="weeklyData"
        >
        </ngx-charts-heat-map>
      </div>
    </mat-tab>
    <mat-tab label="Mensual">
      <form [formGroup]="monthForm">
        <mat-form-field>
          <mat-label>Mes</mat-label>
          <mat-select formControlName="monthNumber">
            <mat-option
              *ngFor="let month of monthsArray"
              [value]="month.number"
            >
              {{ month.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div class="chart monthly">
        <ngx-charts-heat-map
          [scheme]="colorScheme"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [results]="monthlyData"
        >
        </ngx-charts-heat-map>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
