<main>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <picture>
      <img src="assets/images/logo_login.png" alt="Livety" />
    </picture>

    <h2>Register</h2>

    <mat-form-field appearance="outline">
      <mat-label>User</mat-label>
      <input matInput type="text" formControlName="userName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hidePassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repeat Password</mat-label>
      <input
        matInput
        formControlName="repeatPassword"
        [type]="hidePassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="form.hasError('passwordsMismatch')" class="error">
      Passwords must match.
    </div>

    <div *ngIf="showError()" class="error">Incorrect userName or password</div>

    <button
      mat-flat-button
      class="app-round-button"
      type="submit"
      color="primary"
      [disabled]="form.invalid"
    >
      Register
    </button>
  </form>

  <div *ngIf="loading()" class="loading">
    <mat-spinner></mat-spinner>
  </div>
  <p class="sing-up">
    ¿Ya tienes una cuenta?
    <a [routerLink]="['/login']" target="_self">Login</a>
  </p>
</main>
